.account {
  overflow-x: hidden;
}

.profil {
  height: 300px;
  width: 1000px;
}

.graph1 {
  height: 250px;
  width: 900px; 
}

.graph2 {
  height: 250px;
  width: 900px; 
}

.graph3 {
  height: 250px;
  width: 900px; 
  margin-bottom: 2%;
}